
/* responsive */
/* 
@media screen and (max-width: 1180px) {
    .about{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
    
} */

@media screen and (max-width: 1293px) {
    .skills-container{
        flex-flow: column wrap;
        align-items: center;
    }

    .skills .set{
        width: 60%;
    }
    
} 

@media screen and (max-width: 650px) {
    .about .content img{
        margin-bottom: 35px;
    }

    .text h1{
        font-size: 60px;
        margin-bottom: 25px;
    }
    .skills .set{
        width: 80%;
    }
    
}

  @media (max-width: 868px) {
    body.disabled{
      overflow: hidden;
    }
    .icon{
      display: block;
    }
    .icon.hide{
      display: none;
    }
    .navbar .menu-list{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      left: -100%;
      top: 0px;
      display: block;
      padding: 40px 0;
      text-align: center;
      background: #222;
      transition: all 0.3s ease;
    }
    .navbar.show .menu-list{
      left: 0%;
    }
    .navbar .menu-list li{
      margin-top: 45px;
    }
    .navbar .menu-list li a{
      font-size: 23px;
      margin-left: -100%;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a{
      margin-left: 0px;
    }

    .content {
        display: inline-block;
        text-align: center;
        align-items: center;
        
    }
    .about-me .text {
        display: inline-block;
        width: 95%;
    }

    .about-me img {
        margin-bottom: 24px;
    }
  }

  @media (max-width: 550px) {
    .hero-section .container {
        width: 80%;
        
    }
    .hero-section .container h1 {
        font-size:40px;
        
    }

    .hero-section .cen {
        font-size:  18px;
    }

    .hero-section p{
        font-size: 14px;
        margin-bottom: 25px;
    }
    
    .hero-section .button {
        font-size: 14px;
    }
    


    
  }


  
  @media (max-width: 450px) {
    .navbar .logo a{
      font-size: 27px;
    }

    .text h5 {
      font-size: 20px;
    }

    .text p {
      font-size: 14px;
    }
    
    .about-me button{
      width: 100px;
    }
  }

@media screen and (max-width: 768px){
    /* .blog .section-content .cards .card{
        flex-direction: column;
        flex:10%;
        height: 10%;
        background-color: var(--main-colour-3);
        position: relative;
    }


    .blog {
        height: 200vh;
    } */

   
}