
/* responsive */

@media screen and (max-width: 1000px) {
  

  .about-me .container .left{
    float: none;
    width: 100%;
    display: inline-block;
    text-align: center;
    

  }
  .about-me .container .left img{
    width: 30%;
  } 

  .about-me .container .left h5{
    margin-bottom: 5%;
  }
} 
@media screen and (max-width: 650px) {
    .about .container .left img{
        margin-bottom: 35px;
    }
}

  @media (max-width: 868px) {
    body.disabled{
      overflow: hidden;
    }
    .icon{
      display: block;
    }
    .icon.hide{
      display: none;
    }
    .navbar .menu-list{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      left: -100%;
      top: 0px;
      display: block;
      padding: 40px 0;
      text-align: center;
      background: #222;
      transition: all 0.3s ease;
    }
    .navbar.show .menu-list{
      left: 0%;
    }
    .navbar .menu-list li{
      margin-top: 45px;
    }
    .navbar .menu-list li a{
      font-size: 23px;
      margin-left: -100%;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a{
      margin-left: 0px;
    }

    .about-me .container {
        /* display: inline-block;
        align-items: center; */
        width: 90%;
    }

    .about-me .container .left p {
      margin: 0px auto;
    }

    .about-me .container .left img {
      margin-bottom: 24px;
    }
  }

  @media (max-width: 550px) {
    .hero-section .container {
        width: 80%;
        
    }
    .hero-section .container h1 {
        font-size:40px;
        
    }

    .hero-section .cen {
        font-size:  18px;
    }

    .hero-section p{
        font-size: 14px;
        margin-bottom: 25px;
    }
    
    .hero-section .button {
        font-size: 14px;
    }    
  }


  
  @media (max-width: 450px) {
    .navbar .logo a{
      font-size: 27px;
    }

    .text h5 {
      font-size: 20px;
    }

    .text p {
      font-size: 14px;
    }
    
    .about-me button{
      width: 100px;
    }
  }
