@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,300&family=Abril+Fatface&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');

:root {
    --dark-one: #28282b /*rgb 45 45 42*/;
    /* --dark-one: rgb(116, 140, 203); */
    --dark-two: #363a3f /*rgb 76 76 71*/;
    --dark-three: rgb(18, 22, 28);
    --dark-four: rgb(0, 0, 0);
    --main-colour-1: rgb(87, 133, 202);
    --main-colour-2: #6c48fc /*rgb 119 45 139*/;
    --main-colour-3: rgb(21, 46, 60) /*rgb 27 231 255*/;
    --main-colour-4: rgb(58,58,137);
    --dark-colour-purple: rgb(29, 29, 71);
    --light-one: rgb(116, 140, 203);
    --light-two: #f9fafb;
    --light-three: #f6f7fb;
}

/* General Styles */

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button, input, textarea {
    font-family: "Lato", "Roboto";
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* End of General Styles */

/* Header */

header {
    width: 100%;
    background-color: transparent;
    margin-bottom: -104px;
    overflow: hidden;
}

nav {
    width: 100%;
    position: relative;
    z-index: 50;
}

nav .container{
    position: relative;
    z-index: 5;
    max-width: 92rem;
    padding: 0 4rem;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    height: 6rem;
    align-items: center;
}

.logo{
    width: 80px;
    display: flex;
    /* chekc what happens if line below commented out */
    align-items: center; 
}

.links ul{
    display: flex;
}

.links a{
    display: inline-block;
    padding: 0.9rem 1.2rem;
    color: var(--light-two);
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
    transition: 0.3s;
}

.links a:hover {
    color: var(--main-colour-2);
}
/* End of Header */

/* hero image */

.hero-section {
    position: relative;
    background: linear-gradient(rgba(31, 38, 54, 0.562), rgba(31, 38, 54, 0.562)), 
    url(../img/uriel-sc-11KDtiUWRq4-unsplash.jpg) no-repeat center;
    background-size: cover;
    height: 101vh;
    overflow: hidden;
}

.hero-section .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: 200;
}

.hero-section .container h1 {
    margin: 0;
    font-family: "Abril Fatface";
    /* text-transform: uppercase; */
    font-size:95px;
    font-weight: 500;
}

.hero-section .container h1 span {
    padding: 0;
    display: inline-block;
}

.hero-section .cen {
    margin: 6px;
    display: block;
    font-size:  28px;
    font-weight: 400;
}
.hero-section p{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 200;
}

.hero-section .button {
    color: #313131;
    margin-top: 30px;
    padding: 10px 24px;
    background: #f1f1f1;
    text-decoration: none;
    transition: .6s;
}

.hero-section .button:hover {
    opacity: .6;
}

/* end hero section */

/* about section image css */

.about-me {
    width: 100%;
    height: 80vh;
    background-color: var(--dark-three);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me .content img{
    height: auto;
    width: 30%;
    max-width: 100%;
    border-radius: 50%;
}

.text {
    width: 70%;
    max-width: 100%;
    padding: 0 10%;
    color: var(--light-three)
}

.content {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.text h1 {
    font-family: Lato;
    color: #f1f1f1;
    font-size: 60px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.text h5 {
    font-family: Lato;
    font-weight: 300;
    color: #f1f1f1;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.text p {
    font-family: Lato;
    font-weight: 200;
    color: #f1f1f1;
    font-size: 18px;
    margin-bottom: 45px;
    line-height: 28px;
    letter-spacing: 1px;
}

.about-me button{
    background-color: var(--main-colour-1);
    color: var(--light-two);
    border: 2px solid transparent;
    text-transform: none;
    padding: 10px 30px;
}

.about-me button:hover{
    transform: scale(1.2);
    background-color: transparent;
    border: 2px solid var(--main-colour-1);
    color: var(--main-colour-1);
    transition: .4s;
    cursor: pointer;
}

/* end about */

/* skills section */
.skills {
    background-color: var(--dark-four);
    color: var(--light-three);
    height: 80vh;
    width: 100%;
    text-align: center;
    padding-top: 3%;
}

.skills h1 {
    font-family: Lato;
    color: #f1f1f1;
    font-size: 60px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.skills .set{
    width: 400px;
    display: inline-block;
    padding: 2% 5%;
    /* background: linear-gradient(var(--main-colour-3), var(--dark-colour-purple)); */
    background: linear-gradient(var(--main-colour-3), var(--dark-three));
    margin: 20px 10px;
    border-radius: 5px;
}
/* end skills section */

/* projects */
.my_projects {
    background-color: var(--dark-three);
    width: 100%;
    height: 80vh;
    text-align: center;
    color: var(--light-two);
    padding-top: 3%;
}

.project_container {
    padding: 1rem 1rem;
    
}

.project_card {
    display: inline-flex;
    width: 30rem;
    background-color: var(--main-colour-1);
    padding: 1rem;
}

/* end of projects */

/* blog */
.blog {
    background-image: url(../img/ashwini-chaudhary-monty-czPD6s3JQmk-unsplash.jpg);
    color: var(--light-three);
    height: 100vh;
    width: 100%;
    text-align: center;
    padding-top: 3%;
    background-size: cover;
}

.blog .section-content{
    width: 85%;
    margin: 20px auto;
}

.blog .section-content .title{
    width: 60%;
    text-align: center;
    margin: auto;
}

.blog .section-content .title h2{
    font-size: 40px;
    color: var(--light-one);
    text-transform: uppercase;
}

.blog .section-content .title p{
    font-size: 18px;
    color: var(--light-one);
    margin-top: 20px;
}

.blog .section-content .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 25px auto;
}

.blog .section-content .cards .card{
    width: 100%;
    background-color: var(--main-colour-3);
    position: relative;
}

.blog .section-content .cards .card img{
    width: 100%;
    height: auto;
}

.blog .section-content .cards .card .article{
    padding: 15px 20px;
}

.blog .section-content .cards .card .article h4{
    font-size: 24px;
    color: var(--light-three);
}

.blog .section-content .cards .card .article p{
    font-size: 16px;
    margin: 10px 0px;
    color: var(--light-three);
}

.blog .section-content .cards .card a{
    text-decoration: none;
    display: inline-block;
    background-color: var(--light-three);
    padding: 8px 15px;
    margin-left: 20px;
    color: var(--dark-one);
    margin-bottom: 20px;
}

.blog .section-content .button-article{
    text-decoration: none;
    display: inline-block;
    background-color: var(--main-colour-2);
    padding: 8px 15px;
    margin-left: 20px;
    color: var(--light-three);
    margin-bottom: 20px;
}

/* end of blog */

/* contact */
.contact {
    background-color: var(--dark-four);
    width: 100%;
    height: 80vh;
    text-align: center;
    color: var(--light-two);
    padding-top: 3%;
}
/* end of contact */

/* responsive */

@media screen and (max-width: 1180px) {
    .about{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
}

@media screen and (max-width: 650px) {
    .about .content img{
        margin-bottom: 35px;
    }

    .text h1{
        font-size: 60px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 992px){
    .blog .section-content .cards{
        grid-template-columns: (2, 1fr);
    }
}

@media screen and (max-width: 768px){
    .blog .section-content .cards{
        grid-template-columns: 1fr;
    }
}